.crumbsWrap{
	box-sizing: border-box;
	border-bottom:1px solid $main-color;
	height: 40px;
	line-height: 40px;
	padding-left: 14px;
	box-shadow: 0 5px 20px 1px rgba(#000, .2);
	background-color: $zIndex2;
}